.loading {
  position: relative;
  overflow: hidden;
}

@keyframes fade {
  from,
  to {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.loading::before {
  content: "";
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.loading::after {
  content: "";
  position: absolute;
  background: lightgray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1500ms linear infinite;
  z-index: 11;
}
